/**
 * styles/layout/about.css
 */

#photos #about {
	display: flex;
	grid-column: 1 / -1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-block: var(--spacing-xl) var(--spacing-l);
	padding-inline: var(--spacing-m);
	overflow: hidden;
	gap: var(--spacing-l);

	& > .image {
		display: grid;
		grid-template-columns: min-content;
		transform: rotate(-5deg);
		transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
		border: var(--color-picture-border) 0.75rem solid;
		background-color: var(--color-picture-border);
		place-self: center center;
		filter: drop-shadow(-0.25rem 0.5rem 0.75rem var(--color-shadow));

		&:hover {
			transform: rotate(-2deg) scale(1.02);
		}
		& img {
			max-block-size: 35svb;
			inline-size: auto;
			min-inline-size: 50vmin;
			object-fit: cover;
			object-position: top;
		}
		& > blockquote {
			z-index: 1;
			align-self: end;
			margin-block-start: 0.5rem;
			margin-inline: 0.5ch;
			color: var(--color-text-on-picture-border);
			font-size: var(--font-size-ml);
			text-wrap: balance;
		}
	}
	& > .about-content {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-m);
		align-items: center;
		text-align: center;

		& h2 {
			margin: 0;
		}
		& p {
			margin: 0;
			text-align: justify;
			text-align-last: center;
		}
		& .subtitle {
			margin: 0;
			font-weight: var(--font-weight-light);
			text-wrap: auto;

			& small {
				font-size: var(--font-size-m);
				text-wrap: auto;
			}
		}
		& .button {
			align-self: center;
			margin: 0;
		}
	}

	@media (width >= 800px) {
		display: grid;
		grid-template-columns: 1.1fr 1.2fr;
		align-items: center;
		max-inline-size: 1200px;
		margin-inline: auto;
		gap: var(--spacing-xl);

		& > .image {
			margin-inline: var(--spacing-m);
			justify-self: center;

			& img {
				max-block-size: 65svb;
				min-inline-size: 32vi;
				max-inline-size: 100%;
			}
		}
		& > .about-content {
			align-items: start;
			max-inline-size: 55ch;
			text-align: start;
			justify-self: center;

			& p {
				text-align: justify;
				text-align-last: start;
			}
			& .subtitle {
				text-align: start;
			}
			& .button {
				align-self: start;
			}
		}
	}
}
