/**
 * styles/layout/album.css
 */

.album {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: masonry;
	justify-content: center;
	padding-block: var(--spacing-xl);
	padding-inline: 4px;
	gap: 4px;

	@media (width >= 600px) {
		grid-template-columns: repeat(3, 1fr);
		padding-inline: var(--spacing-s);
		gap: var(--spacing-s);
	}

	@media (width >= 1000px) {
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		padding-inline: var(--spacing-m);
		gap: var(--spacing-m);
	}

	& h1 {
		grid-column: 1 / -1;
		text-align: center;
	}
	& > a {
		overflow: hidden;
		background-color: var(--color-bg-secondary);

		&.portrait {
			grid-row: span 2;
		}
		& img {
			object-fit: cover;
			object-position: top;
			transition: all 0.5s ease;
			filter: var(--img-hover);

			@supports (not (grid-template-rows: masonry)) {
				block-size: 100%;
				inline-size: 100%;
			}
		}
		&:is(:focus-visible, :hover) {
			& img {
				filter: unset;

				@media (prefers-reduced-motion: no-preference) {
					transform: scale(1.2);
				}
			}
		}
	}
}

#photo-dialog {
	--buttons-size: 2rem;
	block-size: 100vh;
	max-block-size: 100vh;
	inline-size: 100vw;
	max-inline-size: 100vw;
	padding: 0;
	overflow: hidden;
	border: none;
	background: transparent;

	&::backdrop {
		background: rgb(0 0 0 / 0.9);
	}
	& > :is(a, button) {
		display: flex;
		position: fixed;
		z-index: 10;
		align-items: center;
		justify-content: center;
		transition:
			background 0.3s ease,
			opacity 0.3s ease;
		border: none;
		background: none;
		color: white;

		& svg {
			block-size: auto;
			inline-size: var(--buttons-size);
		}
		&:is(:hover, :focus-visible) {
			opacity: 1;
		}
	}
	& #dialog-slider {
		display: flex;
		align-items: center;
		block-size: 100%;
		inline-size: 100%;
	}
	/* stylelint-disable-next-line selector-class-pattern */
	& .keen-slider__slide {
		display: flex;
		align-items: center;
		justify-content: center;
		block-size: 100%;
		padding: 2rem;
	}
	& img {
		max-block-size: calc(100vh - 4em);
		max-inline-size: 100%;
		animation: appear 0.2s ease-out both;
		pointer-events: none; /* Prevent native image drag interfering with slider */
		object-fit: contain;

		@media (prefers-reduced-motion: no-preference) {
			animation: fadein 0.2s ease-out both;
		}
	}
}

#photo-dialog > #close-dialog {
	z-index: 20;
	border-radius: 50%;
	outline: none;
	opacity: 0.7;
	inset-inline-end: var(--spacing-l);
	inset-block-start: var(--spacing-m);
	aspect-ratio: 1;

	&:focus {
		outline: none;
	}
	&:is(:hover, :focus-visible) {
		background: var(--color-overlay-fallback);
	}
}

#photo-dialog > :is(#previous-photo, #next-photo) {
	inline-size: calc(var(--buttons-size) * 2);
	opacity: 0.5;
	inset-block: 0;

	&:is(:hover, :focus) {
		background: radial-gradient(
			circle at center,
			var(--color-overlay-fallback) calc(var(--buttons-size) * 0.9),
			transparent var(--buttons-size)
		);
	}
	&:focus-visible {
		outline: none;
	}
	&[href=''] {
		display: none;
	}

	@media (width < 800px) {
		display: none;
	}
}

#previous-photo {
	inset-inline-start: 0;
}

#next-photo {
	inset-inline-end: 0;
}
