/**
 * styles/layout/contact.css
 */

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-block-size: 100vb;
	max-inline-size: 1100px;
	margin-inline: auto;
	padding-block: var(--spacing-xl);
	padding-inline: var(--spacing-m);
	gap: var(--spacing-xl);

	& > header {
		display: flex;
		flex-direction: column;
		align-items: center;
		inline-size: 100%;

		& picture {
			display: block;
			inline-size: 100%;
			max-inline-size: 650px;
			overflow: hidden;
			border-radius: 1rem;
			box-shadow: 0 8px 24px var(--color-shadow);
		}
		& img {
			display: block;
			block-size: auto;
			max-block-size: 380px;
			inline-size: 100%;
			border-radius: inherit;
			object-fit: cover;
		}
		& > .subtitle {
			padding-inline: var(--spacing-m);
			font-size: var(--font-size-header-s);
			font-weight: var(--font-weight-light);
			text-align: center;
		}
	}
	& > .vcard {
		align-self: center;
		margin-inline: auto;
		transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
	}
	& .fn {
		color: var(--color-accent);
		font-family: var(--font-family-header);
		font-weight: var(--font-weight-normal);

		& .fn-sub {
			color: var(--color-text);
		}
	}

	@media (width >= 850px) {
		display: grid;
		grid-template-columns: 1.1fr 1fr;
		align-items: center;
		gap: var(--spacing-xl);

		& > header {
			& picture {
				max-inline-size: 100%;
			}
			& img {
				max-block-size: 420px;
			}
		}
	}
}
