/**
 * styles/layout/footer.css
 */

#footer {
	display: grid;
	grid-template:
		'social'
		'navigation'
		'logo'
		'copyright'
		'version'
		'lang';
	place-items: center center;
	margin-block-start: var(--spacing-xl);
	padding-block: var(--spacing-l);
	padding-inline: var(--spacing-m);
	background-color: var(--color-bg-secondary);
	color: var(--color-text-secondary);
	font-size: var(--font-size-s);
	gap: var(--spacing-s) var(--spacing-m);

	& > .copyright {
		grid-area: copyright;
	}
	& > .logo {
		grid-area: logo;

		& > .logo-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-block: var(--spacing-l);

			& > .logo-title {
				font-family: var(--font-family-header-title);
				font-size: var(--font-size-header-xl);
				font-weight: var(--font-weight-normal);
				border-block-end: 1px solid;
			}
			& > .logo-subtitle {
				font-family: var(--font-family-header-subtitle);
				font-size: var(--font-size-header-s);
			}
		}
	}
	& > .version {
		grid-area: version;
	}
	& > .social {
		display: flex;
		grid-area: social;
		gap: var(--spacing-m);

		& svg {
			inline-size: 2em;
		}
	}
	& > nav {
		grid-area: navigation;
		z-index: unset;
	}
	& > .lang-selector {
		grid-area: lang;
		margin-block-start: var(--spacing-m);
	}

	@media (width >= 800px) {
		grid-template:
			'social logo logo logo navigation'
			'lang logo logo logo .'
			'lang copyright copyright copyright version';
		place-items: end center;

		& > .logo {
			& > .logo-container {
				margin-block: var(--spacing-m);
			}
		}
		& > :is(nav, .version) {
			justify-self: end;
		}
		& > :is(.social, .lang-selector) {
			justify-self: start;
		}
	}
}
