/**
 * styles/layout/header.css
 */

#header {
	display: grid;
	grid-template:
		[image-start] '.' 1fr
		'logo' auto [image-end]
		'title' auto
		'subtitle' auto;
	place-items: end stretch;
	block-size: 100vh; /* fallback */
	block-size: 100svb;

	& > .logo {
		display: flex;
		position: relative;
		z-index: 1;
		grid-area: logo;
		justify-content: center;
		margin: 0;
		padding-block: var(--spacing-xs) var(--spacing-s);
		background: var(--color-bg-onpicture);
		color: var(--color-onpicture);

		& > .logo-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-block: var(--spacing-m) var(--spacing-s);

			& > .logo-title {
				font-family: var(--font-family-header-title);
				font-size: var(--font-size-header-xxl);
				font-weight: var(--font-weight-normal);
				border-block-end: 2px solid var(--color-accent);
			}
			& > .logo-subtitle {
				font-family: var(--font-family-header-subtitle);
				font-size: var(--font-size-header-m);
			}
		}
	}
	& > .title {
		grid-area: title;
		margin-block-start: var(--spacing-m);
		color: var(--color-accent);
		font-family: var(--font-family-header);
		font-size: var(--font-size-header-xl);
		font-weight: var(--font-weight-normal);
		text-align: center;
		text-wrap: balance;
	}
	& > .subtitle {
		grid-area: subtitle;
		margin-block-end: var(--spacing-m);
		color: var(--color-text-secondary);
		font-size: var(--font-size-header-s);
		font-weight: var(--font-weight-light);
		text-align: center;
		text-wrap: balance;
	}
	& > .carousel {
		position: relative;
		z-index: 0;
		grid-area: image / 1;
		align-self: stretch;
	}
	& .hero {
		& > img {
			block-size: 100%;
			inline-size: 100%;
			object-fit: cover;
			pointer-events: none; /* Prevent image drag interfering with carousel drag */
		}
	}
}

.object-top {
	object-position: top;
}

.object-center {
	object-position: center;
}

.object-bottom {
	object-position: bottom;
}
