/**
 * styles/layout/header.css
 */

#header {
	display: grid;
	grid-template:
		[image-start] '.' 1fr
		'logo' auto [image-end]
		'title' auto
		'subtitle' auto;
	place-items: end stretch;
	block-size: 100vh; /* fallback */
	block-size: 100svb;

	& > .logo {
		display: flex;
		grid-area: logo;
		justify-content: center;
		margin: 0;
		padding-block: var(--spacing-xs) var(--spacing-s);
		background: var(--color-bg-onpicture);
		color: var(--color-onpicture);

		& > .logo-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin-block: var(--spacing-m) var(--spacing-s);

			& > .logo-title {
				font-family: var(--font-family-header-title);
				font-size: var(--font-size-header-xxl);
				font-weight: var(--font-weight-normal);
				border-block-end: 1px solid;
			}
			& > .logo-subtitle {
				font-family: var(--font-family-header-subtitle);
				font-size: var(--font-size-header-m);
			}
		}
	}
	& > .title {
		grid-area: title;
		margin-block-start: var(--spacing-m);
		color: var(--color-text);
		font-family: var(--font-family-header);
		font-size: var(--font-size-header-xl);
		font-weight: var(--font-weight-normal);
		text-align: center;
		text-wrap: balance;
	}
	& > .subtitle {
		grid-area: subtitle;
		margin-block-end: var(--spacing-m);
		color: var(--color-text-secondary);
		font-size: var(--font-size-header-s);
		font-weight: var(--font-weight-light);
		text-align: center;
		text-wrap: balance;
	}
	& > .carousel {
		display: block;
		position: relative;
		z-index: -1;
		grid-area: image / 1;
		align-self: stretch;
		overflow: hidden;
		cursor: grab;
		user-select: none;
		touch-action: pan-y;

		&:active {
			cursor: grabbing;
		}
	}
	& .carousel-track {
		display: flex;
		block-size: 100%;
		inline-size: 100%;
		will-change: transform;
		touch-action: pan-y;
	}
	& .pause {
		position: absolute;
		inset-inline-end: max(1vi, 1rem);
		inset-block-start: calc(var(--font-size-m) * 1.3 + 2rem + var(--spacing-l));
		z-index: 1;
		cursor: pointer;

		& > svg {
			stroke: currentcolor;
			fill: none;
		}
		&:hover {
			color: var(--color-accent);
		}
	}
	& .hero {
		position: relative;
		flex: 0 0 100%;
		block-size: 100%;
		inline-size: 100%;

		& > img {
			block-size: 100%;
			inline-size: 100%;
			object-fit: cover;
			pointer-events: none;
		}
	}
}

.object-top {
	object-position: top;
}

.object-center {
	object-position: center;
}

.object-bottom {
	object-position: bottom;
}

#pause-hero-carousel:checked {
	& ~ .pause {
		& > svg {
			stroke: none;
			fill: currentcolor;
		}
	}
}
