---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Album from '../components/Album.astro';
import Footer from '../components/Footer.astro';

import { getLangFromUrl, getRouteFromStaticPath, useTranslations, useTranslatedPath } from '../i18n/utils';

export function getStaticPaths() {
	return [
		{ params: { album: 'en/albums/climbing' } },
		{ params: { album: 'en/albums/people' } },
		{ params: { album: 'en/albums/events' } },
		{ params: { album: 'en/albums/business' } },
		{ params: { album: 'en/albums/travel' } },
		{ params: { album: 'albumes/escalada' } },
		{ params: { album: 'albumes/personas' } },
		{ params: { album: 'albumes/eventos' } },
		{ params: { album: 'albumes/negocios' } },
		{ params: { album: 'albumes/viajes' } }
	];
}

const albums = {
	albumsclimbing: 'climbing',
	albumspeople: 'people',
	albumsevents: 'events',
	albumsbusiness: 'business',
	albumstravel: 'travel'
};

const { album } = Astro.params;
const route = getRouteFromStaticPath(Astro.url, album);
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const albumName: 'climbing' | 'people' | 'events' | 'business' | 'travel' = albums[route];
---

<Layout title={t(`photos.${albumName}`)}>
	<Navigation path="/" />
</Layout>

<main id="main" class="album">
	<Album album={albumName} />
</main>
<footer id="footer">
	<Footer />
	<Navigation />
</footer>

<script src="../scripts/album.js"></script>
