---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import 'keen-slider/keen-slider.min.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header id="header">
	<div class="logo">
		<div class="logo-container">
			<div class="logo-title">NHOA NOIR</div>
			<div class="logo-subtitle">FOTOGRAFÍA</div>
		</div>
	</div>
	<h1 class="title">{t('header.title')}</h1>
	<div class="subtitle">{t('header.subtitle')}</div>

	<div class="carousel keen-slider">
		<picture class="hero keen-slider__slide">
			<source srcset="/assets/img/hero/a-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/a-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/a-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/a-400.jpg" class="object-center" width="400" height="293" fetchpriority="high" alt="" />
		</picture>
		<picture class="hero keen-slider__slide">
			<source srcset="/assets/img/hero/b-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/b-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/b-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/b-400.jpg" class="object-top" width="400" height="435" fetchpriority="low" alt="" />
		</picture>
		<picture class="hero keen-slider__slide">
			<source srcset="/assets/img/hero/c-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/c-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/c-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/c-400.jpg" class="object-top" width="400" height="266" fetchpriority="low" alt="" />
		</picture>
		<picture class="hero keen-slider__slide">
			<source srcset="/assets/img/hero/d-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/d-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/d-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/d-400.jpg" class="object-center" width="400" height="601" fetchpriority="low" alt="" />
		</picture>
	</div>
</header>

<script>
	import KeenSlider from 'keen-slider';

	document.addEventListener('DOMContentLoaded', () => {
		const sliderElement = document.querySelector('.carousel') as HTMLElement;
		if (!sliderElement) return;

		let timeout: ReturnType<typeof setTimeout>;
		let mouseOver = false;

		function clearNextTimeout() {
			clearTimeout(timeout);
		}

		function nextTimeout(s: any) {
			clearNextTimeout();
			if (mouseOver) return;
			timeout = setTimeout(() => {
				s.next();
			}, 5000);
		}

		let slider = new KeenSlider(sliderElement, {
			loop: true,
			renderMode: 'performance',
			drag: true,
			created(s) {
				sliderElement.addEventListener('mouseover', () => {
					mouseOver = true;
					clearNextTimeout();
				});
				sliderElement.addEventListener('mouseout', () => {
					mouseOver = false;
					nextTimeout(s);
				});
				nextTimeout(s);
			},
			dragStarted() {
				clearNextTimeout();
			},
			animationEnded(s) {
				nextTimeout(s);
			},
			updated(s) {
				nextTimeout(s);
			},
		});
	});
</script>
