---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header id="header">
	<div class="logo">
		<div class="logo-container">
			<div class="logo-title">NHOA NOIR</div>
			<div class="logo-subtitle">FOTOGRAFÍA</div>
		</div>
	</div>
	<h1 class="title">{t('header.title')}</h1>
	<div class="subtitle">{t('header.subtitle')}</div>
	<input id="pause-hero-carousel" type="checkbox" name="carousel" title="play / pause" class="screen-reader-text" />
	<label class="pause" for="pause-hero-carousel" title="play / pause" aria-label="play / pause"
		><svg aria-hidden="true" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
			><path
				d="M5.746 3a1.75 1.75 0 0 0-1.75 1.75v14.5c0 .966.784 1.75 1.75 1.75h3.5a1.75 1.75 0 0 0 1.75-1.75V4.75A1.75 1.75 0 0 0 9.246 3h-3.5ZM14.746 3a1.75 1.75 0 0 0-1.75 1.75v14.5c0 .966.784 1.75 1.75 1.75h3.5a1.75 1.75 0 0 0 1.75-1.75V4.75A1.75 1.75 0 0 0 18.246 3h-3.5Z"
			></path></svg
		></label
	>
	<div class="carousel" style="--images: 4;">
		<picture class="hero" style="--nth-child:1;">
			<source srcset="/assets/img/hero/a-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/a-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/a-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/a-400.jpg" class="object-center" width="400" height="293" fetchpriority="high" alt="" />
		</picture>
		<picture class="hero" style="--nth-child:2;">
			<source srcset="/assets/img/hero/b-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/b-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/b-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/b-400.jpg" class="object-top" width="400" height="435" fetchpriority="low" alt="" />
		</picture>
		<picture class="hero" style="--nth-child:3;">
			<source srcset="/assets/img/hero/c-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/c-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/c-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/c-400.jpg" class="object-top" width="400" height="266" fetchpriority="low" alt="" />
		</picture>
		<picture class="hero" style="--nth-child:4;">
			<source srcset="/assets/img/hero/d-1920.avif" type="image/avif" />
			<source srcset="/assets/img/hero/d-1920.webp" type="image/webp" />
			<source srcset="/assets/img/hero/d-1920.jpg" type="image/jpg" />
			<img src="/assets/img/hero/d-400.jpg" class="object-center" width="400" height="601" fetchpriority="low" alt="" />
		</picture>
	</div>
</header>
