---
import HeroCarousel from './islands/HeroCarousel.tsx';
import 'keen-slider/keen-slider.min.css';

const heroImages = [
	{
		src: 'a',
		avif400: '/assets/img/hero/a-400.avif',
		avif1920: '/assets/img/hero/a-1920.avif',
		webp400: '/assets/img/hero/a-400.webp',
		webp1920: '/assets/img/hero/a-1920.webp',
		jpg400: '/assets/img/hero/a-400.jpg',
		jpg1920: '/assets/img/hero/a-1920.jpg',
		width: 400,
		height: 293,
		objectClass: 'object-center'
	},
	{
		src: 'b',
		avif400: '/assets/img/hero/b-400.avif',
		avif1920: '/assets/img/hero/b-1920.avif',
		webp400: '/assets/img/hero/b-400.webp',
		webp1920: '/assets/img/hero/b-1920.webp',
		jpg400: '/assets/img/hero/b-400.jpg',
		jpg1920: '/assets/img/hero/b-1920.jpg',
		width: 400,
		height: 435,
		objectClass: 'object-top'
	},
	{
		src: 'c',
		avif400: '/assets/img/hero/c-400.avif',
		avif1920: '/assets/img/hero/c-1920.avif',
		webp400: '/assets/img/hero/c-400.webp',
		webp1920: '/assets/img/hero/c-1920.webp',
		jpg400: '/assets/img/hero/c-400.jpg',
		jpg1920: '/assets/img/hero/c-1920.jpg',
		width: 400,
		height: 266,
		objectClass: 'object-top'
	},
	{
		src: 'd',
		avif400: '/assets/img/hero/d-400.avif',
		avif1920: '/assets/img/hero/d-1920.avif',
		webp400: '/assets/img/hero/d-400.webp',
		webp1920: '/assets/img/hero/d-1920.webp',
		jpg400: '/assets/img/hero/d-400.jpg',
		jpg1920: '/assets/img/hero/d-1920.jpg',
		width: 400,
		height: 601,
		objectClass: 'object-center'
	}
];
---

<header id="header">
	<div class="logo">
		<div class="logo-container">
			<h1 class="logo-title">NHOA SÁNCHEZ</h1>
			<div class="logo-subtitle">FOTOGRAFÍA</div>
		</div>
	</div>

	<div class="carousel-wrapper">
		<HeroCarousel client:load images={heroImages} />
	</div>

	<a class="scroll-indicator" href="#photos" aria-label="Scroll down">
		<svg width="32" height="32" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M7 10L12 15L17 10" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
		</svg>
	</a>
</header>
